menu "RISCV architecture"
	depends on RISCV

config SYS_ARCH
	default "riscv"

choice
	prompt "Target select"
	optional

config TARGET_RISCV_M2SXXX
	bool "Support riscv-m2sxxx"

endchoice

source "board/microsemi/riscv-m2sxxx/Kconfig"

endmenu
