if TARGET_RISCV_M2SXXX

config SYS_CPU
	default "riscv32"

config SYS_BOARD
	default "riscv-m2sxxx"

config SYS_VENDOR
	default "microsemi"

config SYS_SOC
	default "m2sxxx"

config SYS_CONFIG_NAME
	default "riscv-m2sxxx"

endif
