CONFIG_RISCV=y
CONFIG_TARGET_RISCV_M2SXXX=y
CONFIG_BOOTDELAY=3
CONFIG_SYS_PROMPT="RISC-V # "
# CONFIG_CMD_MMC=n
# CONFIG_CMD_SETEXPR is not set
# CONFIG_CMD_PING=n
# CONFIG_CMD_CACHE=n
# CONFIG_CMD_EXT2=n
# CONFIG_CMD_FAT=n
# CONFIG_SYS_NS16550=y
